<nav class="">
    <div class="bg-slate-300 dark:bg-gray-800 dark:shadow-md max-w-screen-sm rounded-b-md mx-auto">
        <div class="flex h-16 items-center justify-center">
            <div class="items-center">
                <div class="">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="/"
                        class="transition hover:dark:bg-gray-700 ease-in-out text-white px-3 py-2 rounded-md text-sm font-medium"
                        aria-current="page">🏠 Home</a>

                    <a href="/blog"
                        class="transition hover:dark:bg-gray-700 ease-in-out text-white px-3 py-2 rounded-md text-sm font-medium"
                        aria-current="page">🗒 Blog</a>

                </div>
            </div>
        </div>
    </div>
</nav>