{{ define "main" }}

<section>
    <div class="flex items-center py-4">
        <!-- The left line -->
        <div class="flex-grow h-px bg-gray-400"></div>

        <!-- Your text here -->
        <span class="flex-shrink text-xl text-gray-300 font-semibold px-4 italic font-noto-serif">{{ .Section }}
        </span>

        <!-- The right line -->
        <div class="flex-grow h-px bg-gray-400"></div>
    </div>
    {{ range .Pages }}
    <div class="transform-gpu transition">
        <a href="{{ .Permalink }}"
            class="my-2 border border-slate-200 rounded-md p-5 shadow-sm hover:bg-slate-100 dark:bg-gray-800        dark:border-slate-600 transition-colors hover:delay-100 hover:dark:bg-gray-700 block">
            <h5 class="font-semibold text-lg text-slate-800 dark:text-slate-300">{{ .Title }}</h5>
            <div class="text-slate-700 dark:text-slate-300 text-sm">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    class="w-4 h-4 inline-block -mt-1">
                    <path fill-rule="evenodd"
                        d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z"
                        clip-rule="evenodd" />
                </svg>
                {{ .Date | time.Format ":date_long" }}
            </div>
            <p class="text-slate-700 mt-2 dark:text-slate-300">{{ or .Params.desc .Summary }}</p>
        </a>
    </div>
    {{ end }}
</section>

{{ end }}