{{ define "main" }}

<div class="max-w-screen-sm m-auto my-4 font-Inter">
    <article>
        <h2 class="font-bold text-3xl font-noto-serif mb-2">{{ .Title }}</h2>
        <p class="text-sm font-bold">🗓️ {{ .Date | time.Format "Monday, 02 Jan 2006" }}</p>
        <hr>
        <section>
            <strong>Contents :</strong>
            {{ .TableOfContents }}
        </section>
        <hr>
        <div class="card">
            <div class="card-body">
                {{ .Content }}
            </div>
        </div>

    </article>
</div>

{{ end }}